.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.pfp {
    width: 15%;
}

.friend {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
    padding: 0.5em;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.friendList,
.addFriend, .split {
    padding: 0.5em;
    background-color: red;
    width: 19em;
}

.friendList {
    margin-bottom: 1em;
}

.addFriend, .split{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.add-container {
    display: flex;
    justify-content: space-between;
    gap: 0
}

.split{
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.split-container{
    display: flex;
    justify-content: space-between;
}

.split-container input,  .split-container select{
    width: 10em;
}
